:root {
    --color-letraheader: #2F3645;
    --color-background: #e4e0d4;
    --color-texto: #333; 
    --color-bordes:  #ddd ;
    --color-section: #fff;
    --color-subtitulos: #257180;
    --color-boton: #8ABFA3; 
    --color-botonseleccionar: #238dff; 
    --color-botonpresionar: #000 ;
}

*{
    margin: 0;
    padding: 0px;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--color-background);
    color: var(--color-texto);
    transition: background-color 0.3s, color 0.3s;
    line-height: 1.5;
}

header{
    background: linear-gradient(var(--color-subtitulos), #F2E5BF);
    text-align: center;
    color: var(--color-letraheader);
    padding: 20px;
}

.menu{
    display: flex;
    justify-content:space-around ;
    list-style: none;
    padding: 15px 20px;
}

.enlace{
    text-decoration: none;
    color: var(--color-letraheader);
    font-weight: bold;
    transition: color 0.3s;
}

.enlace:hover{
    color: var(--color-botonseleccionar);
    text-decoration: underline;
}

section{
    border: 1 solid var(--color-bordes);
    border-radius: 20px;
    background-color: var(--color-section);
    padding: 15px;
    margin: 30px;

}

h2{
    font-size: 25px;
    color: var(--color-subtitulos);
    font-weight: bold;
    text-align: center;
}

.parrafo{
    text-align: center;
    margin-top: 20px;
}

figure{
    text-align: center;
}

.img-secu img{
    border-radius: 50%;
    margin: 20px;
}

.img-prepa img{
    border-radius: 30px;
    margin: 20px;
}

.img-lic img{
    border-style: double;
    border-radius: 25%;
    margin: 20px;
}

.lista-radio{
    accent-color: var(--color-subtitulos);
    cursor: pointer;
    margin-right: 20px;
}


.boton-contacto{
    background-color: var(--color-boton);
    color: var(--color-section);
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

/* cambia de color cuando paso el mouse por el boton */
.boton-contacto:hover{
    background-color: var(--color-botonseleccionar);
}

/* cambia de color cuando presiono el color */
.boton-contacto:active{
    background-color: var(--color-botonpresionar) ;
}

footer{
    text-align: center;
}

.author{
    font-size: bold;
    color: var(--color-subtitulos);
}

/* USO DE FLEXBOX PARA EL FORMULARIO*/
form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 500px;
    margin: 0 auto;
}

